.add-restaurant-button{
    display: flex;
    flex-direction: row-reverse;
}

.add-restaurant-button button {
    color: #2d2e2f;
    background-color: initial;
    border: 2px solid #d3d3d3;
    border-radius: 5px;
    font-weight: 700;
    text-align: center;
    font-size: 16px;
    transition: 0.5s;
}

.add-restaurant-button button:hover {
    cursor: pointer;
    background-color: #e6e6e6;
}

.restaurant-list a {
    margin-left: auto;
    margin-right: auto;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.restaurant-list-item {
    /* Animation properties */
    display: block; /* Ensure link takes block space */
    opacity: 0; /* Start hidden */
    animation-name: fadeIn;
    animation-duration: 0.6s; /* Adjust duration as needed */
    animation-timing-function: ease-out;
    animation-fill-mode: forwards; /* Stay visible after animation */
    animation-delay: 0s; /* Default delay, will be overridden by inline style */
}
